@model Navette.Models.DemandeClient

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Supprimer</h2>

<h3>Voulez-vous vraiment supprimer cette demande?</h3>
<div>
    <h4>DemandeClient</h4>
    <hr />
    <p>
        <i class="fas fa-map-marker-alt "></i> Départ : @Html.DisplayFor(model => model.depart)
    </p>
    <p>
    <p><i class="fas fa-bus"></i> Destination : @Html.DisplayFor(model => model.destination)</p>
    <p>
        <i class="far fa-clock"></i> Heure du départ : @Html.DisplayFor(model => model.h_depart)
    </p>
    <p><i class="fas fa-clock"></i> Heure du retour  : @Html.DisplayFor(model => model.h_destination)</p>

    <p><i class="fas fa-users"></i> Nombres des demandes      @Html.DisplayFor(model => model.num_demande)</p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" />
            <a href="@Url.Action("Index", "DemandesClients" )" class="btn btn-primary">Annuler</a>
        </div>
    }
</div>
